<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Dashboard</h1>
    </div>
  </div>

  <div class="container">

    <div class="row mt-5">

      <div class="col-md-6">

          <a href="/gestion-des-entitees">
            <div class="card bg-dark text-white">

            <div class="card-body text-center">

                Gestion des entitées

            </div>

           </div>
          </a>


      </div>

      <div class="col-md-6">

        <a href="/gestion-individus">
        <div class="card bg-dark text-white">

          <div class="card-body text-center">

              Gestion des individus

          </div>

        </div>
        </a><br/>

      </div>

      <div class="col-md-6">

        <a href="/gestion-vehicules">
        <div class="card bg-dark text-white">

          <div class="card-body text-center">

              Gestion des véhicules

          </div>

        </div>
        </a><br/>


      </div>

      <div class="col-md-6">

        <a href="/suivis-indemnites">
        <div class="card bg-dark text-white">

          <div class="card-body text-center">

              Suivis des indemnitées

          </div>

        </div>
        </a><br/>


      </div>

      <br/>

      <div class="col-md-6">

        <a href="/fiches-kilometriques">
        <div class="card bg-dark text-white">

          <div class="card-body text-center">

              Fiches kilométriques

          </div>

        </div>
        </a>


      </div>

    </div>




  </div>