
<!DOCTYPE html>
<html>
   <%- include('../partials/head') -%>
  <body>
    
    <%- include('../partials/header', {username: username}) -%>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Suivis des indemnités</h1>
      </div>
    </div>


    <div class="container p-5">

      <a class="btn btn-dark" href="/dashboard" role="button">Retour</a>

       <br/>
       <br/>

       <div class="card">

        <div class="card-body">

          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Sélectionnez une entitée :</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Entitée 1</option>
                <option>Entitée 2</option>
                <option>Entitée 3</option>
              </select> 
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Sélectionnez un véhicule :</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Véhicule 1</option>
                <option>Véhicule 2</option>
                <option>Véhicule 3</option>
              </select> 
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Sélectionnez un individu :</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Individu 1</option>
                <option>Individu 2</option>
                <option>Individu 3</option>
              </select> 
            </div>
          </form>

        </div>

       </div>

       <br/>

       <table id="table" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kilomètes total par entité</th>
            <th scope="col">Kilomètres total par véhicule</th>
            <th scope="col">Kilomètres total par individu</th>
            <th scope="col">Kilomètres pour un trajet donné</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>150 Km</td>
            <td>3300 Km</td>
            <td>5800 km</td>
            <td>100 Km</td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- You can also require other files to run in this process -->

  </body>
</html>    


